.NotFound {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: RGB(12, 12, 13);
    height: 100vh;

    .error {
        background-color: RGB(12, 12, 13);
        position: absolute;
        top: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;

        .ErrorNum {
            width: 100px;
            color: #fff;
            background-color: RGB(12, 12, 13);
            font-size: 25px;
        }

        span {
            width: 100px;
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            height: 30px;
            color: #fff;
            background-color: RGB(12, 12, 13);
            font-size: 17px;
            width: 250px;
        }

        button {
            background: RGB(12, 12, 13);
            cursor: pointer;
            height: 40px;
            border: 2px solid rgba(63, 168, 168, 0.9);
            font-weight: 600;
            font-size: 16px;
            border-radius: 10px;
            box-shadow: 4px 4px 6px 0px #424242;
            width: 150px;
            margin: 10px;

            a {
                color: rgba(63, 168, 168, 0.9);
            }
        }
    }
}

.NotFound .error button:hover {
    background: #fff;
}

.NotFound .error button a:hover {
    color: RGB(12, 12, 13);
}