@import '../../styles/colors.scss';

.nav {
    width: 250px;
    display: inline-block;
    background: $light-gray;
    float: left;
    height: 100ch;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 100px;
    transition: width linear .1s;

    a {
        display: flex;
        text-align: left;
        padding: 7px 20px;
        text-decoration: none;
        color: $black;
        font-weight: 600;

        i {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }

        &:hover {
            color: $dark-gray;
        }
    }

    span.logo_image {
        display: block;
        width: 45px;
        position: relative;
        top: -65px;
        margin: 0 auto;
    }

    span.Hello {
        display: block;
        color: #000;
        font-weight: 600;
        margin-bottom: 84px;
        font-size: 20px;
        position: relative;
        top: -40px;
        height: 60px;
    }

    .Menu {
        position: relative;
        top: 250px;
        left: 70px;
        cursor: pointer;

        &:hover {
            color: $dark-gray;
        }

        i {
            margin: 10px 0;
            width: 20px;
            height: 20px;
            font-size: 25px;
        }
    }
}



.createUsers form select {
    width: 45%;
    margin-right: 10%;
    height: 29px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #a7a7a7;
    color: #757575;
}

.navclosed {
    width: 70px;
    display: inline-block;
    background: $light-gray;
    float: left;
    height: 100ch;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 100px;
    transition: width linear .3s;

    a {
        display: flex;
        text-align: center;
        padding: 5px 00px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        width: auto;

        i {
            width: 100%;
            height: 100%;
            font-size: 25px;
            line-height: 35px;
        }

        &:hover {
            color: $dark-gray;
        }
    }

    span.logo_image {
        display: block;
        width: 45px;
        position: relative;
        top: -65px;
        margin: 0 auto;
    }

    span.Hello {
        display: block;
        color: #000;
        font-weight: 600;
        margin-bottom: 84px;
        font-size: 20px;
        position: relative;
        top: -40px;
        height: 60px;
    }

    .Menu {
        position: relative;
        top: 165px;
        cursor: pointer;

        &:hover {
            color: $dark-gray;
        }

        i {
            margin: 10px 0;
            width: 20px;
            height: 20px;
            font-size: 25px;
        }
    }
}


    