@import '../../styles/colors.scss';

.nav {
    width: 15%;
    max-width: 200px;
    display: inline-block;
    background: $light-gray;
    float: left;
    height: 100ch;
    box-sizing: border-box;
    padding-top: 100px;

    a {
        display: block;
        text-align: left;
        padding: 5px 20px;
        text-decoration: none;
        color: $black;
        font-weight: 600;

        &:hover {
            color: $dark-gray;
        }
    }

    span.logo_image {
        display: block;
        width: 45px;
        position: relative;
        top: -65px;
        margin: 0 auto;
    }
    span.Hello {
        display: block;
        color: #000;
        font-weight: 600;
        margin-bottom: 84px;
        font-size: 20px;
        position: relative;
        top: -40px;
    }
}



.createUsers form select {
    width: 45%;
    margin-right: 10%;
    height: 29px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #a7a7a7;
    color: #757575;
}