@import '../../styles/colors.scss';

.nav {
    width: 15%;
    max-width: 200px;
    display: inline-block;
    background: $light-gray;
    float: left;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    border-right: 2px solid $blue;

    a {
        display: block;
        text-align: left;
        padding: 5px 20px;
        text-decoration: none;
        color: #424242;
        font-weight: 600;

        &:hover {
            color: #5f5f5f;
        }
    }

    span.logo_image {
        display: inline-block;
        width: 45px;
        position: relative;
        top: -65px;
    }
}

span.Hello {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424242;
    font-weight: 600;
    margin-bottom: 50px;
    padding: 10px;
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    font-size: 20px;
}

.logo_image {
    display: inline-block;
    width: 45px;
}

.createUsers form select {
    width: 45%;
    margin-right: 10%;
    height: 29px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #a7a7a7;
    color: #757575;
}