body{
  overflow: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

* {
    box-sizing: border-box;
    // transition: all 0.5s ease-out;
}


input::before {
  color: #757575;
  content: attr(placeholder) ": ";
  font-family: 'Nanum Gothic', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
a:hover{
  font-weight: 600;
}