@import '../../styles/colors.scss';

.ForgotPasswordWrapper, .popUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 100ch;
    color: $black;
    position: absolute;
    top: 0;
    left: 0;

    .ForgotPassword {
        width: 40%;
        min-width: 400px;
        max-width: 500px;
        margin-top: 165px;
        max-height: 300px;
        padding: 20px;
        background-color: $white;
    }

    .error {
        color: red
    }
}

.popUp {
    background-color: rgba(128, 128, 128, 0.9);
}