@import '../../../styles/colors.scss';

.ProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: #000;
    height: 100%;

    
    .Profile {
        width: 600px;
        // margin-top: 110px;
        padding: 20px;
        background-color: #fff;
        position: relative;
        margin: auto auto;
        //height: 70vh;
        .profileAvatar{
            width: 75px;
            height: 75px;
            //display: inline-block;
            border-radius: 150px;
            overflow: hidden;
            margin-right: 15px;
            display: flex;
            &>img{
                max-width: 100%;

            }
            i{
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 73px;
                font-size: 44px;
                color: #8ab2bd;
            }
        }
        .innerWrapper{
            position: relative;
            padding-bottom: 45px;
            margin-bottom: 25px;
            //height: 82%;

        }
        .success {
            position: absolute;
            bottom: 13px;
            margin: 0;
            background: #bdf9bd;
            padding: 6px;
            left: 21px;
            display: flex;
            justify-content: center;
            width: 58%;
        }
        h1 {
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            span{
                font-weight: 400;
            }
        }
        .closePopBtn{
            display: inline-block;
            width: auto;
            text-align: right;
            float: right;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 90px;
            height: 36px;
            margin: 0;
            span{
                padding: 7px 5px;
                border: 1px solid;
                color: #1565c0;
                position: relative;
                z-index: 5;
                display: block;
                bottom: 0;
                box-shadow: 0 3px 2px 0 rgba(70, 166, 255, 0.35);
                &:hover {
                    background: #1565c0;
                    border-color: #1565c0;
                    color: #fff;
                }
            }
        }
        
        .wrappLine{
            width: 100%;
            height: 35px;
            font-size: 14px;
            padding: 2px 0;
            // border-bottom: 1px solid #999;
            margin: 10px 0 20px;
            color: #000;
            display: block;
            // display: flex;
            // justify-content: space-between;
            .EditCustomInput{
                
            }
            &:first-of-type span{ background: $white; }
            &:last-of-type span{ background: $white; }
            &:last-of-type .editLineInput { background: #e5e5e5; }
            
            &::placeholder{
                color: $dark-gray
            }
            
            & > * {
                float: left;
            }
            
            & > .HeadLine {
                width: 130px;
                text-align: left;
                height: 100%;
                line-height: 30px;
            }
            div.EditInput *{
                height: 100%;
                margin: 0 0 0px 0;
                padding: 0;
            }
            div.EditInput {
                height: 100%;
                width: 70%;
                // max-width: 322px;
                //overflow: hidden;


                    & > input{
                        border: 0;
                    }
                    & > div {
                        width: 100%;
                        display: inline-block;
                        height: 100%;
                        &>div{
                            width: 100%;
                        }
                        input[type=file]{
                            &::before{
                                content: '';
                            }
                        }
                    }
                    
            }
            
            & > span {
                margin-right: 0px;
                text-align: left;
                width: 70%;
                height: 100%;
                line-height: 32px;
                background: $light-gray;
                padding: 0 8px;
            }
            
            &>input, &>select {
                width: 200px;
                border: 1px solid black;
                position: relative;
                top: -20px;
            }
            .BTN{
                float: right;
                margin: 0px 0;
                
            }
            


        }
        .wrappLineHide{
            display: none;
        }
        .wrappLineNone{
            display: none;
        }
        .eventResWrapLine{
            width: 100%;
            height: auto;
            font-size: 14px;
            padding: 2px 0;
            margin: 10px 0 5px;
            color: #000;
            display: inline-block;
            .editLineInput{
                .eventResult{
                    width: 50%;
                    height: 64px;
                    padding: 0 7px;
                    border: 1px solid #008cb3;
                    border-radius: 0px; 
                    margin: 0; 
                    font-weight: bold;
                    background-color: #e6e6e6;
                    display: inline-table !important;
                    border-right: 0;
                    
                    &:nth-child(4n+4), &:last-child {
                        border-right: 1px solid #008cb3;
                    }  
                }
            }
            &:first-of-type span{ background: $white; }
            &:last-of-type span{ background: $white; }
            &:last-of-type .editLineInput { background: #e5e5e5; }
            
            &::placeholder{
                color: $dark-gray
            }
            
            & > * {
                float: left;
            }
            
            & > .HeadLine {
                width: 130px;
                text-align: left;
                height: 100%;
                line-height: 30px;
            }
            div.EditInput {
                height: 100%;
                width: 70%;
                display: table;
                .eventResult{
                    width: 50%;
                    height: 64px;
                    padding: 0 7px;
                    border: 1px solid #008cb3;
                    border-radius: 0px;
                    margin: 0;
                    font-weight: bold;
                    background-color: #e6e6e6;
                    display: inline-table !important;
                    border-right: 0;

                    &:nth-child(4n+4), &:last-child {
                        border-right: 1px solid #008cb3;
                    }                
                }
                &*{
                    border: 0;
                }
                    & > input{
                        border: 0;
                    }
                    & > div {
                        width: 100%;
                        display: inline-block;
                        height: 100%;
                    }
                    
            }
            & > span {
                margin-right: 0px;
                text-align: left;
                width: 70%;
                line-height: 30px;
                background: #e5e5e5;
                /* padding: 0 8px; */
                display: table;
            }
            
            &>input, &>select {
                width: 200px;
                border: 1px solid black;
                position: relative;
                top: -20px;
            }
            .BTN{
                float: right;
                margin: 0px 0;
                
            }

        }
        .SubmitAll {
            display: inline-block;
            text-align: right;
            min-width: 67px;
            position: absolute;
            right: 0;
            bottom: 1px;
            div {
                border: 0;
                padding: 0;
            }
            input[type=submit] {
                width: 100%;
                font-size: 16px;
            }
            
        }
        .changePass{
            font-weight: 600;
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            text-align: right;
            text-decoration: underline;
            font-size: 18px;
            color: $blue;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .error{
        background: #f18383;
        position: absolute;
        bottom: -1px;
        width: 82%;
        left: 20px;
        padding: 5px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        height: 31px;
    }
}


.notActive {
    font-size: 20px;
    color: #616161;
    padding: 5px;
    &:hover{
        color: #03a3d0;
    }
}
.active {
    color: #03a3d0;
    padding: 5px;
    margin-top:6px;
}

.editLineInput, .EditInput {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .eventResult {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 85%;
        padding: 0 15px;
        border: 1px solid $blue;
        border-radius: 10px;
        margin: 0 5px;
        font-weight: bold;
        background-color: $white;

        span {
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        span.name {
            width: 100%;
            text-align: start;
            height: 28px;
        }

        div input {
            text-align: center;
            width: 65px;
            height: 31px;
            border: 1px solid $blue;
        }
    }
}
