@import '../../../styles/colors.scss';
.BtnComp{
    background: $light-gray;
    color: $black;

    &:hover{
        background: $dark-gray;
        color: $white;
    }
 
}
.editBtn {
    background: $blue;
    color: $white;
    border: 0;
    width: 60px;
    &:hover{
        background:$dark-gray;
    }
}
.deleteBtn {
    background: $orange;
    color: $white;
    border: 0;
    width: 60px;
    &:hover{
        background: $dark-gray;
        }
}
