@import '../../../styles/colors.scss';
.BtnComp{
    text-align: center;
    
 
}

.sendBtn{
    background: $blue;
    color: $white;
    padding: 7px;
    border: 0;
    border-bottom: 1px solid #999;
    

    &:hover{
        background: $dark-gray;
        color: $white;
    }
}

.editBtn {
    background: $blue;
    color: $white;
    border: 0;
    width: 70px;
    padding: 2px 9px;
    margin: 0 2px;
    &:hover{
        background:$dark-gray;
    }
}
.deleteBtn {
    background: $orange;
    color: $white;
    border: 0;
    width: 70px;
    padding: 2px 9px;
    margin: 0 2px;
    &:hover{
        background: $dark-gray;
    }
}