@import '../../styles/mixins.scss';

.MainPage {
    width: 100%;
    position: relative;
    // max-height: 94vh;
    margin-top: 40px;
}
@media only screen and (max-width: 870px) {
    .MainPage{
        padding-left: 12%;
        max-width: 97.6%;
    }
}

.EventsPage{
    text-align: left;
    padding: 0 15px;
    .leaderTop{
        .leaderTableHead{
            display: flex;
            justify-content: space-around;
            width: 97%;
            padding-left: 3%; 
            b{
                width: 30%;
            }
        }
        &>ul{
            padding-left: 3%;;
            width: 97%;
            list-style-type: decimal;
            li{
                
                &>div{
                    display: flex;
                    justify-content: space-around;
                }
                p{
                    width: 30%;
                }
            }
        }
    }
    h1{
        text-align: center;
    }
    .eventsTBLS{
        display: flex;
        justify-content: space-around;
        .eventsTable{
            display: block;
            width: 49%;
            border: 1px solid #a9a9a9;
            padding: 0 1%;
            h4{
                text-align: center;
                margin-top: 10px;
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #a9a9a9;
            }
            .noResults{
                text-align: center;
                margin-top: 25px;
                width: 100%;
                display: inline-block;
                font-weight: 600;
                margin-bottom: 35px;
            }
            &>div{
                
                .eventData{
                    padding: 5px 0;
                    // border-bottom: 1px solid #a9a9a9;
                    
                    p{
                        display: block;
                        margin-top: 0;
                        &>span{
                            font-weight: 600;
                            margin-right: 10px;
                        } 
                        i{
                            &::after {
                                content: ", ";
                            }
                        }
                        i{
                            &:last-child{
                                &::after {
                                    content: " ";
                                }
                            }
                        }
                        
                    }
                    &>div{
                        &>span{
                            display: block;
                            text-align: center;
                            border-bottom: 1px solid #a9a9a9;
                            padding-bottom: 5px;
                            margin-bottom: 10px;
                            font-weight: 600;
                            margin-top: 30px;
                        }
                        ul{
                            padding: 0 5px;
                            list-style: none;
                            margin-bottom: 0;
                            
                            li{
                                display: inline-block;
                                width: 45%;
                                margin-bottom: 10px;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #a9a9a9;
                                span{
                                    font-weight: 400;
                                }
                                &>p{
                                    display: flex;
                                    margin-top: 0;
                                    justify-content: space-between;
                                }
                                
                            }
                            
                            li:nth-child(2n+2) {
                                margin-left: 10%;
                            }
                            li:last-child, li:nth-last-child(2){
                                border: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                
            }
        }
    }
    
}