@import '../../styles/mixins.scss';

.MainPage {
    width: 100%;
    position: relative;
    // max-height: 94vh;
    margin-top: 40px;
}
@media only screen and (max-width: 870px) {
    .MainPage{
        padding-left: 12%;
        max-width: 97.6%;
    }
}