.Register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: gray;
}

.Register h1 {
    width: 100%;
    margin: 50px;
}

.Register form {
    width: 80%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Register input {
    width: 100%;
    height: 30px;
    margin: 10px;
}

.Register input[name='login'] {
    width: 100%;
    height: 50px;
    margin: 10px;
}

.Register h2 {
    width: 100%;
}