@import '../../../styles/colors.scss';

.usersWrapper {
    text-align: left;
    padding: 0px 10px 0;

    &>h1{
        
    }
    div{
        .sortTabs{
          display: flex;
          justify-content: center;
          margin-top: 20px;
          &>div{
            margin: 0 10px;
          }
        }
    }
    div.username, div.email, div.role{
        width: 20%;
        overflow-y: auto;
        &::-webkit-scrollbar{
            height: 2px;
            background: #c5c5c5;
        }
        &::-webkit-scrollbar-thumb{
            background: $blue;
        }
    }
    div.role{
        border: 0;
        width: 8%
    }
    .select{
        display: block !important;
        width: 20%;
        border: 1px solid #ddd;
    }

    .usersHead {
        padding: 5px 0 5px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid #e6e6e6;

        & > div {
            padding: 0 0;
            margin: 0 6px;
            display: inline-flex;
            justify-content: start;
        }
        .addBtn{
            width: 203px;
        }
    }

    ul.uesrsList{
        list-style: none;
        padding: 0;
        margin: 0;
        height: calc(100vh - 178px);
        overflow-y: auto;
        position: relative;
        width: 100%;

        &::-webkit-scrollbar{
            width: 3px;
            background: #c5c5c5;
        }
        &::-webkit-scrollbar-thumb{
            background: $blue;
        }

        li{
            border-bottom: 1px solid #e5e5e5;
            padding: 9px 0;
            display: flex;
            width: 100%;
            margin: 0;
            justify-content: space-between;
            line-height: 25px;

            div.allUsButtons {
                width: 200px;
            }
            & > a{
                display: inline-block;
            }
            & > div{
                padding: 0 0;
                margin: 0 6px;
                display: inline-flex;
                justify-content: start;
                height: 27px;
                white-space: nowrap;
            }

            &.notActive{
                div{
                    span, a{
                        color: #7d7d7d;

                    }
                }


            }

        }



    }

    .uesrsListSpinner {
        list-style: none;
        padding: 0;
        margin: 0;
        height: calc(100vh - 178px);
        overflow-y: auto;
        position: relative;
        width: 100%;

        &>div{
            text-align: center;
            margin-top: 125px;
        }

    }
    .success {
        position: fixed;
        width: 100%;
        text-align: center;
        top: 0;
        margin: 0;
        height: 100vh;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        
        span {
            padding: 20px 40px;
            background: #9dfca1;
            border-bottom: 1px solid #999;
            position: relative;
            width: auto;
            height: auto;
            max-width: 477px;
            .closeBTN {
                padding: 0 5px;
                background: #fff;
                border: 1px solid #999;
                border-radius: 11px;
                position: absolute;
                top: -8px;
                right: -6px;
                cursor: pointer;
            }
            &>:hover {
                background: #000;
                color: #fff;
            }
        }
    }
    .errorPop {
        position: fixed;
        width: 100%;
        text-align: center;
        top: 0;
        margin: 0;
        height: 100vh;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        
        span {
            padding: 20px 40px;
            background: #f18383;
            border-bottom: 1px solid#999;
            position: relative;
            width: auto;
            height: auto;
            max-width: 477px;

            .closeBTN {
                padding: 0 5px;
                background: #fff;
                border: 1px solid #999;
                border-radius: 11px;
                position: absolute;
                top: -8px;
                right: -6px;
                cursor: pointer;
            }
            &>:hover {
                background: #000;
                color: #fff;
            }
        }
    }
    
}

.AddUser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #999999de;
    height: 100%;
    z-index: 92;
}

div.EditBtn {
    width: 200px;
}
.error{
    background: #f18383;
    position: absolute;
    bottom: 25px;
    width: 79%;
    left: 20px;
    padding: 5px;
    text-align: center;
    color: #fff;
}

@media only screen and  (max-width: 870px) {
.usersWrapper{
    font-size: 14px;
    h1{
        font-size: 18px;
    }
    div{
      .sortTabs{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        &>div{
          margin: 0 10px;
        }
      }
    }

    li.notActiveClass, li.notActiveClass *{
        color: #333;
    }
    .usersHead{
        padding-right: 10%;
        &>div{
            font-size: 14px;
        }
        .addBtn{
            position: absolute;
            right: 0;
            top: 6px;
            justify-content: flex-end;
        }
    }
    .uesrsList{

        li{
            .allUsButtons{
                width: 12% !important;
            }

        }

    }
    
}

}